@use "../../assets/sass/utils/variables" as *;

.cards {
    background: white; 
    position: relative;
    z-index: 2;
    padding: 20px;
}
.card{
    &-title{
        font-size: 1.6rem;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 10px;
    }
}