@import "hamburger";

// Site Header
/************************************/
.site-header {
  background: $grey-100;
  color: black;
  padding: 0 20px 0 0;
  @media (min-width: $lg){
    padding: 20px;
  }
  .wrap {
    display: flex;
    justify-content: space-between;
    margin: auto;
    .site-branding {
      min-width: 300px;
      margin-bottom: -18px;
      .site-title {
        margin: 0;
        .site-logo-wrapper{
          position: relative;
          overflow-y: hidden;
          @media (min-width: $lg){
            overflow-y: visible;
          }
          .site-logo {
            width: 260px;
            background: white;
            padding: 0 20px;
            position: relative;
            z-index: 9;
          }
          .site-logo-circle{
            content: '';
            position: absolute;
            top: -20px;
            right: 0;
            width: 100px;
            height: 120px;
            background: white;
            border-radius: 50%;
            z-index: 3;
          }
          .site-logo-bg{
            @media (min-width: $lg){
              content: '';
              position: absolute;
              top: -20px;
              right: 40px;
              width: 1000px;
              height: 120px;
              background: white;
              z-index: 8;
            }
          }
        }
      }
      .site-description {
        margin-bottom: 0;
      }
    }
    #site-navigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      ul#menu {
        display: flex;
        li.menu-item {
          @media (min-width: $md){
            margin: 0;
          }
          a {
            color: black;
            padding: 20px 15px;
            position: relative;
            transition: all 0.5s;
            &:after {
              transition: all 0.5s;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              width: 0%;
              content: ".";
              color: transparent;
              background: $blue-dark;
              height: 2px;
            }
            &:hover {
              color: $blue-dark;
            }
            &:hover:after {
              width: 100%;
            }
          }
          ul.sub-menu {
            li {
              margin: 0 10px;
            }
          }
          &.current-menu-item {
            a {
              color: $blue-dark;
            }
            ul.sub-menu {
              a {
                color: white;
              }
            }
          }
        }
        ul.sub-menu {
          background: $grey-100;
          display: block;
          li {
            position: relative;
            a {
              border-bottom: 1px solid rgba(255, 255, 255, 0.3);
              padding: 10px 0;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}