$breakpoint: 1200px;
@media (max-width: 1199px) {
  header {
    nav {
      position: relative;
      #toggle {
        position: absolute;
        top: 10px;
        right: 0;
        padding: 10px;
        transition: 0.8s;
        z-index: 9;

        span {
          position: relative;
          width: 36px;
          height: 4px;
          background: white;
          border-radius: 4px;
          display: block;
          margin-bottom: 8px;
          transition: 0.5s;

          &:nth-child(1) {
            transform-origin: left;
          }
          &:nth-child(2) {
            transform-origin: center;
          }
          &:nth-child(3) {
            transform-origin: left;
            margin-bottom: 0;
          }
        }

        &.active {
          width: 55px;
          transition: 0.5s;
          z-index: 9;
          span {
            background: white;
          }
          span:nth-child(1) {
            transform: rotate(45deg);
            left: 3px;
          }
          span:nth-child(2) {
            transform: rotate(315deg);
            right: 3px;
          }
          span:nth-child(3) {
            opacity: 0;
            transform: scale(0);
          }
        }
      }
      ul#menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        display: flex;
        flex-direction: column;

        li {
          list-style: none;
          font-size: 1.2rem;
          line-height: 2;
          text-align: center !important;
          a {
            color: white;
            text-decoration: none;
            padding: 15px !important;
            &:hover {
              color: tomato;
            }
          }
        }
        ul.sub-menu {
          display: none !important;
        }
      }
      ul#menu.active {
        right: 0;
      }
    }
  }
  #toggle.active ul.menu {
    transform: translateX(-10%);
  }

  #site-navigation{
    position: relative;
    .mobile-navigation{
      position: absolute;
      right: 0;
      top: 8px;
      #toggle{
        position: absolute;
        top: 0;
        right: 0;
      }
      .menu-text{
        position: absolute;
        top: 12px;
        right: 60px;
        display: none;
        @media (min-width: $xxs) {
          display: block;
        }
      }
    }
  }
} /*END*/

/* Small devices (tablets, 1000px and up) */
@media (min-width: $breakpoint) {
  .menu-text{
    display: none;
  }
  header nav #toggle {
    display: none;
  }
  ul#menu {
    display: flex;
    justify-content: flex-end;
    li.menu-item {
      margin: 0 5px;
      a {
        color: white;
      }
    }
  }
  .site-header .wrap #site-navigation ul#menu {
    justify-content: flex-end;
  }
} /*END*/
