.site-inner {
  font-size: 20px;
}
h1.entry-title {
  font-weight: 500;
  font-size: 2.2rem;
  @media (min-width: $xs) {
    font-size: 2.6rem;
  }
  @media (min-width: $sm) {
    font-size: 2.8rem;
  }
}
