$gradient-1: linear-gradient(135deg, #000 0%, #000 50%, #870087 100%);
$gradient-2: linear-gradient(135deg, #000 0%, #000 50%, #0096f9 100%);
$gradient-3: linear-gradient(135deg, #000 0%, #000 50%, #00c8c8 100%);

$shadow: 0 0 50px rgba(0, 0, 0, 0.2);
$ease: all 0.4s ease-in-out;
