@use "../../assets/sass/utils/variables" as *;

// Boxes
/************************************/
.boxes {
    background: white;
    position: relative;
    z-index: 2; 
    padding: 20px;
}
.box {
    background: black;
    color: white;
    padding: 50px;
    &-title {
        font-weight: normal;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    p.box-text {
        font-size: 1.2rem !important;
    }
    &-link {
        color: white;
    }
    &:nth-child(1) {
        background: $gradient-1;
    }
    &:nth-child(2) {
        background: $gradient-2;
    }
    &:nth-child(3) {
        background: $gradient-3;
    }
}
  