.sidebar{
    border-left: 1px solid $grey-100;
    padding: 20px;
    &-card{
        border-bottom: 1px solid $grey-100;
        margin-bottom: 20px;
        &-title{
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 5px;
        }
    }
}